@model GasChannelWebApp.Domain.InputDataVariants

@{
    ViewBag.Title = "Создать вариант";
}

<h2>Создать</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken();

    <div class="form-horizontal">
        <h4>InputDataVariants</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.ID_Variant, "ID_Variant", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("ID_Variant", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ID_Variant, "", new { @class = "text-danger" })
        </div>
    </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Kol_prod_gorenija, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Kol_prod_gorenija, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Kol_prod_gorenija, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Ro_0, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Ro_0, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Ro_0, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Ro_v, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Ro_v, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Ro_v, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.H_pechi, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.H_pechi, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.H_pechi, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.L_pechi, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.L_pechi, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.L_pechi, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.T_fume, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.T_fume, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.T_fume, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.T_fume_v, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.T_fume_v, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.T_fume_v, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.L_vert, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.L_vert, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.L_vert, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.b_vert, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.b_vert, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.b_vert, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.H_vert, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.H_vert, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.H_vert, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.lambda_vert, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.lambda_vert, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.lambda_vert, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.L_bor_vert_rek, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.L_bor_vert_rek, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.L_bor_vert_rek, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Td_rek_fume_bor, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Td_rek_fume_bor, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Td_rek_fume_bor, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Tv_bor, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Tv_bor, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Tv_bor, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.H_bor, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.H_bor, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.H_bor, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.L_bor, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.L_bor, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.L_bor, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.T_rek, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.T_rek, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.T_rek, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.L_rek, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.L_rek, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.L_rek, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.W_rek, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.W_rek, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.W_rek, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.d_trub_rek, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.d_trub_rek, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.d_trub_rek, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.T_rek_vh, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.T_rek_vh, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.T_rek_vh, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.W0_rek, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.W0_rek, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.W0_rek, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.n_trub, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.n_trub, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.n_trub, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.T_trub, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.T_trub, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.T_trub, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.d_h_diag, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.d_h_diag, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.d_h_diag, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.fi_s1, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.fi_s1, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.fi_s1, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.fi_s2, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.fi_s2, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.fi_s2, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.fi_d, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.fi_d, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.fi_d, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.fi_t_st, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.fi_t_st, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.fi_t_st, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Назад к списку","Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}