@model GasChannelWebApp.Models.AccountModels.RegisterModel
    @{ 
        ViewBag.Title = "Регистрация";
    }

<h1>@ViewBag.Title</h1>
<h2></h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary();
<fieldset>
    <legend>Регистрация</legend>
    <ol>
        <li>
            @Html.LabelFor(l => l.UserName)
            @Html.TextBoxFor(l => l.UserName)
        </li>
        <li>
            @Html.LabelFor(l => l.Password)
            @Html.TextBoxFor(l => l.Password)
        </li>
        <li>
            @Html.LabelFor(l => l.ConfirmPassword)
            @Html.TextBoxFor(l => l.ConfirmPassword)
        </li>
    </ol>
    <input type="submit" value="Зарегистрировать" />
</fieldset>
}